<%= render "partials/banner" %>

<main id="main">
  <%= render "partials/content" %>
  <%= render "partials/subscribe_form" %>
  <%= render "partials/footer" %>
  <%= render "partials/background_shapes" %>
</main>
